@font-face {
  font-family: 'Kapakana';
  src: url('/fonts/Kapakana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-Book.otf') format('opentype');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-BookItalic.otf') format('opentype');
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}